* {
    box-sizing: border-box;
}
header {
    background: #b2ebf2;
    position: fixed;
    top: 0;
    width: 100%;
}
header ul{
    display: inline-flex;
    margin: 0;
}
header li{
    list-style: none;
}
header h1,h2,h3 {
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    margin: 0;
    padding-top: 20px;
}
header h1{
    font-size: 1.7em;
}
header h2,h3 {
    padding-top: 25px;
}
a, h2{
    text-decoration: none;
    color: #14274e;
}
.logo img {
    width: 200px;
    padding-top: 20px;
}
.mid-menu{
    margin-right: 45px;
}
.mid-last {
    margin-right: 200px;
}
.right-menu{
    margin-right: 35px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}
.show {display:block;}